.search-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 5rem 10rem;
  gap: 2rem;
}

.search-bar input {
  outline: none;
  border: none;
  border-radius: 1rem;
  padding: 2rem 15rem 2rem 6rem;
  font-size: 1.6rem;
  box-shadow: 1px 0px 13px -1px rgba(181, 181, 187, 1);
  background: url("../../assets/search.png") no-repeat 2rem 1.7rem;
}

.search-bar input::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 614px) {
  .search-bar input {
    padding: 2rem 3rem 2rem 1rem;
    min-width: 19.383rem;
    max-width: 19.383rem;
    background: url("../../assets/search.png") no-repeat 16rem 1.5rem;
  }
  .search-bar input::placeholder {
    font-size: 1.4rem;
  }
}
