.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 7px 13px -9px rgba(181, 181, 187, 1);
  background-color: hsl(0, 100%, 100%);
  padding: 3rem 10rem;
  color: hsl(200, 15%, 8%);
}

.header h1 {
  font-size: 2.8rem;
}

.switch-theme {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 1.8rem;
}

.switch-theme img {
  width: 2rem;
}
