.country {
  box-shadow: 1px 1px 13px -2px rgba(181, 181, 187, 1);
  border-radius: 1rem;
  width: 33rem;
  transition: transform 0.3s linear;
}

.country:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.country-flag {
  border-radius: 0.5rem 0.5rem 0 0rem;
  width: 100%;
  min-height: 21rem;
  max-height: 21rem;
}

.country-details {
  padding: 3rem;
}

.country-details h1 {
  padding-bottom: 3rem;
  font-size: 2.2rem;
}

.country-details p {
  padding: 0.5rem 0 0.5rem 0;
  font-weight: bold;
  font-size: 1.8rem;
}

.country-details p span {
  font-weight: normal;
}
